.contain {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), -0 -1px 6px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	position: relative;
	z-index: 1;
	background: #ffffff;
	border-radius: 10px;
	max-width: 360px;
	margin: 7rem auto;
	padding: 45px;
	text-align: center;
}

label {
	float: left;
	margin-bottom: 0.7rem;
	color: #312e2e !important;
	font-weight: bolder;
}

input::placeholder {
	font-size: 0.7rem;
}

.btn-def {
	margin-top: 1.5rem;
	font-family: "Comfortaa", cursive;
	text-transform: uppercase;
	outline: none !important;
	background: #845ec2 !important;
	width: 100%;
	border: 0;
	border-radius: 50px !important;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bolder !important;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
